<div class="homeContainer" fxLayout="row" fxLayoutAlign="center center">
  <p-card [style]="{'width': '80vw', 'height': '80vh', 'padding': '1rem'}">
    <ng-template pTemplate="header">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button pButton pRipple type="button" label="添加数据" icon="pi pi-plus" class="p-button-raised"
          (click)="openInsertDialog('添加数据')"></button>
        <div fxLayout="row" fxLayoutGap="1vw">
          <button pButton pRipple type="button" label="导入数据" pTooltip="只接受 json 格式文件。" icon="pi pi-cloud-download"
            class="p-button-raised" (click)="importJsonFun()"></button>
          <button pButton pRipple type="button" label="导出数据" icon="pi pi-cloud-upload" class="p-button-raised"
            (click)="exportJsonFun()"></button>
        </div>
      </div>
    </ng-template>
    <!-- 表格 -->
    <p-table #dt [value]="userData" [rows]="6" [paginator]="true" [globalFilterFields]="['age','gender']"
      [rowHover]="true" dataKey="id" currentPageReportTemplate="第 {first} 到 {last} 条 共 {totalRecords} 条"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>姓名</th>
          <th pSortableColumn="age">年龄<p-sortIcon field="age"></p-sortIcon>
          </th>
          <th pSortableColumn="gender">性别<p-sortIcon field="gender"></p-sortIcon>
          </th>
          <th>身份证号码</th>
          <th style="text-align: center;">操作</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr>
          <td>{{data.name}}</td>
          <td>{{data.age}}</td>
          <td>{{data.gender['key']}}</td>
          <td>{{data.id_card}}</td>
          <td style="display: flex;justify-content: space-evenly;">
            <button pButton pRipple icon="pi pi-pencil" title="修改数据" class="p-button-rounded p-button-warning p-mr-2"
              (click)="openUpdateDataDialog(data)"></button>
            <button pButton pRipple icon="pi pi-trash" title="删除数据" class="p-button-rounded p-button-danger"
              (click)="deleteData($event, data)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          一共 {{userData ? userData.length : 0 }} 条数据
        </div>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <div fxLayout="row" fxLayoutGap="1vw">
        <button pButton pRipple type="button" icon="pi pi-download" label="下载Excel模板"
          class="p-button-raised p-button-primary" (click)="downloadTemplateFile()"></button>
        <button pButton pRipple type="button" label="解析Excel模板" icon="pi pi-table" class="p-button-raised"
          (click)="parseExcel()"></button>
        <button pButton pRipple type="button" icon="pi pi-ban" label="清空数据" class="p-button-raised p-button-danger"
          (click)="removeAllData($event)"></button>
      </div>
    </ng-template>
  </p-card>
</div>

<!-- 提示 -->
<p-toast position="top-center"></p-toast>
<p-confirmPopup></p-confirmPopup>
<p-confirmDialog key="confirmDialog" [style]="{width: '50vw'}" [acceptVisible]="false" [rejectVisible]="false">
</p-confirmDialog>

<!-- dialog——添加 -->
<p-dialog [header]="dialogHeader" [(visible)]="userInfoDgDisplay" [style]="{width: '50vw'}"
  (onHide)="closeInsertDialog()">
  <div class="content">
    <div fxLayout="row" fxLayoutAlign="start center">
      <label for="name" class="p-col-fixed">姓名</label>
      <input id="name" type="text" pInputText [(ngModel)]="userInfo['name']">
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <label for="age" class="p-col-fixed">年龄</label>
      <p-inputNumber [(ngModel)]="userInfo['age']" mode="decimal" [showButtons]="true" inputId="age" [min]="0"
        [max]="100">
      </p-inputNumber>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <label for="gender" class="p-col-fixed">性别</label>
      <p-dropdown id="gender" [options]="dropdownOption" [(ngModel)]="userInfo['gender']" placeholder="请选择"
        optionLabel="key" [showClear]="false"></p-dropdown>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <label for="id_card" class="p-col-fixed">身份证号</label>
      <input id="id_card" type="text" pInputText [(ngModel)]="userInfo['id_card']">
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" label="保存" styleClass="p-button-raised" (click)="insertData()"
      *ngIf="dialogHeader==='添加数据'"></p-button>
    <p-button icon="pi pi-check" label="保存" styleClass="p-button-raised" (click)="updateData()"
      *ngIf="dialogHeader==='修改数据'"></p-button>
  </ng-template>
</p-dialog>
